@import "tailwindcss";
@import "tw-animate-css";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500;900&display=swap");

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-[#0d0b1f]  text-white;
  }
}

/* general styes */
.border-gradient {
  border: 3px solid transparent;
  /* transparent bg (make it looks like the body bg*/
  background: linear-gradient(#0d0b1f, #0d0b1f) padding-box,
    /* gradient border */
      linear-gradient(90deg, #614385, #516395, rgba(139, 92, 246, 0.5))
      border-box;
}
.bg-gradient {
  background: linear-gradient(90deg, #614385, #516395, rgba(139, 92, 246, 0.2));
}
button {
  transition: all ease-in-out 0.4s;
}

/* glow bg */
.glow {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 380px;
  background: radial-gradient(
    circle,
    rgba(162, 89, 255, 0.6) 0%,
    transparent 70%
  );
  filter: blur(60px);
}
/* nav style */
nav img {
  width: 90px;
  /* padding: 10px; */
}
nav button:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 10px rgba(23, 23, 23, 0.4);
}
nav a::after {
  content: "";
  width: 0;
  height: 3.2px;
  border-radius: 100%;
  background: linear-gradient(140deg, #614385, #d03cfd, #516395);
  background-size: 300% 300%;
  animation: gradientAnimation 8s ease infinite;
  font-size: 13px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: width ease 0.4s;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#navbar li:hover a::after {
  width: 70px;
  border-radius: 5px;
}
/* hello text */
.hello-text {
  font-family: "Orbitron", sans-serif;
  -webkit-text-stroke: 2px rgba(202, 198, 198, 0.654);
}
/* about section */
.gradient-text {
  background: -webkit-linear-gradient(90deg, #614385, #516395);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#about .header {
  border-right: 0.15em solid #614385;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(16, end) forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 16ch;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #614385;
  }
}

#about .link::after {
  content: "";
  width: 0;
  height: 3px;
  border-radius: 100%;
  background: linear-gradient(140deg, #614385, #d03cfd, #516395);
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.4s ease;
}

#about .link:hover::after {
  width: 70px;
  border-radius: 5px;
}
/* glow journy bg */
#journey .glow-editting {
  top: 79%;
  left: 15%;
  width: 280px;
  height: 280px;
}
#contact-form .glow {
  top: 70%;
  left: 80%;
}
#contact-form .glow-editting {
  top: 40%;
  left: 20%;

  width: 480px;
  height: 480px;
}
/* error 404 section */
#error-wrapper {
  font-family: "Orbitron", sans-serif;
}

#error-wrapper h1 {
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 0 0 40px #8b5cf6;
}

#error-wrapper h2 {
  font-family: "Nexora", sans-serif;
  font-weight: 900;
  font-size: 10rem;
  animation: pulse 1.5s infinite ease-in-out;
}

#error-wrapper p {
  font-size: 1rem;
  color: #aaa;
}
/* animation for 404 text */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
#projects .border-gradient {
  border: 3px solid transparent;
  /* transparent bg (make it looks like the body bg*/
  background: linear-gradient(#1a1a1a, #1a1a1a) padding-box,
    /* gradient border */
      linear-gradient(90deg, #614385, #516395, rgba(139, 92, 246, 0.5))
      border-box;
}